<header class="header-grid">
  <span class="hamburger"></span>
  <h1><a href="/"><%= appName %></a></h1>
  <div id="menu-layer">
    <ul class="header-links">
      <li><a href="<%= origin %>/walking-path">Walking Path</a></li>
      <li><a href="<%= origin %>/towns">Towns on Geneva Lake</a></li>
      <li><a href="<%= origin %>/food">Restaurants</a></li>
      <li><a href="<%= origin %>/marinas">Marinas</a></li>
      <li><a href="<%= origin %>/businesses">Businesses</a></li>
      <li><a href="<%= origin %>/public">Public Piers</a></li>
      <li><a href="<%= origin %>/associations">Associations</a></li>
      <li><a href="<%= origin %>/swim">Swim Piers</a></li>
    </ul>
  </div>
  <script nonce="<%= nonce %>">
    const hammy = document.querySelector('span.hamburger')
    hammy.addEventListener('click', (e) => {
      e.preventDefault()
      e.stopPropagation()
      const links = document.querySelector('ul.header-links')
      let toggle = links.style.display
      console.log(toggle)
      if (toggle === 'none' || toggle === '' || toggle === undefined) {
          links.style.display = 'block'
          links.parentElement.classList.add('menuLayerBorder')
      } else {
          links.style.display = 'none'
          links.parentElement.classList.remove('menuLayerBorder')
      }
    })
    document.addEventListener('click', (e) => {
      const links = document.querySelector('ul.header-links')
      if (links.style.display === 'block') {
        links.style.display = 'none'
        links.parentElement.classList.remove('menuLayerBorder')
      }
    })
  </script>
</header>
<% if (isAuthenticated) { %>
  <%/* %>
  <p><a href="<%= origin %>/logout">Logout</a></p>
  <% } else { %>
  <p><a href="<%= origin %>/login">Login</a></p>
  <% */ %>
<% } %>
