<header class="header-grid">
  <span class="hamburger"></span>
  <h1><a href="/"><%= appName %></a></h1>
  <ul class="header-links">
    <% /* %>
    // <li><a href="<%= origin %>/towns/city-of-lake-geneva">City of Lake Geneva</a></li>
    // <li><a href="<%= origin %>/towns/town-of-linn">Town of Linn</a></li>
    // <li><a href="<%= origin %>/towns/village-of-williams-bay">Village of Williams Bay</a></li>
    // <li><a href="<%= origin %>/towns/village-of-fontana-on-geneva-lake">Village of Fontana-on-Geneva-Lake</a></li>
    // <li><a href="<%= origin %>/towns/town-of-walworth">Town of Walworth</a></li>
    <% */ %> 
    <li><a href="<%= origin %>/towns">Towns on Geneva Lake</a></li>
    <li><a href="<%= origin %>/food">Restaurants</a></li>
    <li><a href="<%= origin %>/marinas">Marinas</a></li>
    <li><a href="<%= origin %>/businesses">Businesses</a></li>
    <li><a href="<%= origin %>/public">Public Piers</a></li>
    <li><a href="<%= origin %>/associations">Associations</a></li>
    <li><a href="<%= origin %>/swim">Swim Piers</a></li>
  </ul>
  <script nonce="<%= nonce %>">
    const hammy = document.querySelector('span.hamburger')
    hammy.addEventListener('click', (e) => {
      const links = document.querySelector('ul.header-links')
      let toggle = links.style.display
      console.log(toggle)
      if (toggle === 'none' || toggle === '' || toggle === undefined) {
          links.style.display = 'block'
      } else {
          links.style.display = 'none'
      }
    })
  </script>
</header>
<% if (isAuthenticated) { %>
  <%/* %>
  <p><a href="<%= origin %>/logout">Logout</a></p>
  <% } else { %>
  <p><a href="<%= origin %>/login">Login</a></p>
  <% */ %>
<% } %>
