<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<article>
  <section class="main">
    <h2><%= total %> Businesses</h2>

    <div class="previousPier">
      <% if (skipBack > 1) { %>
      <a href="/associations?s=<%= skipBack %>">&lt; Prev</a>
      <% } else if (skipBack === 1) { %>
      <a href="/businesses">&lt; Prev</a>
      <% } else { %>
      < Prev 
      <% } %>
    </div>
    <div class="nextPier">
      <% if ((offset + num) < total) { %>
      <a href="/businesses?s=<%= skipForward %>">Next &gt;</a>
      <% } else { %>
      Next > 
      <% } %>
    </div>
    
    <ul id="resultsList" class="searchResults">
    <% businesses.forEach((p, i) => {
      console.log(p.pier[0])
      let a = `<li><a href="/pier/${p.pier[0]}">${p.business}</a></li>` %>
      <%- a %>
    <% }) %></ul>
    <script nonce="<%= nonce %>">
      let origin = '<%= origin %>'
      let jwtAccess = '<%= searchJwtAccess %>'
      let num = <%= num %>
      let params = new URLSearchParams(document.location.search)
      let s = params.get('s') || 1
      console.log(`query param s: ${s}`)
      let ulResultsList = document.querySelector('ul#resultsList')
      const previousDiv = document.querySelector('div.previousPier')
      let previousLink = (previousDiv.children)[0]
      
      function updatePrevLink(len) {
        if (s <= 1) {
          previousDiv.replaceChildren(document.createTextNode('< Prev'))
        } else {
          const newHref = nextLink.href.replace(/(\d)/, s - 1)
          previousLink.href = newHref
        }
        // console.info(`Previous link: ${document.querySelector('a[rel=prev]')?.href}`)
      }
      function updateNextLink(len) {
        if (len < num) {
          nextLink = undefined
          nextDiv.replaceChildren(document.createTextNode('Next >'))
        } else {
          // const matchS = getS(nextLink.href)
          const matchS = s
          const newHref = nextLink.href.replace(/(\d)/, matchS + 1)
          nextLink.href = newHref
        }
        // console.info(`2 Next link: ${nextLink}`)
      }
      // Add Event Listeners to < Prev and Next > links
      if (previousLink?.tagName === 'A') {
        // console.log(`previousLink ${previousLink}`)
        previousLink.addEventListener('click', setAndUpdatePrevNextLinks)
      }
      const nextDiv = document.querySelector('div.nextPier')
      let nextLink = (nextDiv.children)[0]
      if (nextLink?.tagName === 'A') {
        // console.log(`nextLink ${nextLink}`)
        nextLink.addEventListener('click', setAndUpdatePrevNextLinks)
      }
      async function setAndUpdatePrevNextLinks(e) {
          e.preventDefault()
          e.stopPropagation()
          if (previousLink === undefined) {
            console.log(`recreating previousLink: ${previousLink}`)
            previousLink = document.createElement('a')
            previousLink.setAttribute('rel', 'prev')
            previousLink.href = `${origin}/associations?s=1`
            previousLink.innerText = '< Prev'
            previousDiv.replaceChildren()
            previousDiv.appendChild(previousLink)
            previousLink.addEventListener('click', setAndUpdatePrevNextLinks)
          }
          if (nextLink === undefined) {
            console.log(`recreating nextLink: ${nextLink}`)
            nextLink = document.createElement('a')
            nextLink.setAttribute('rel', 'next')
            nextLink.href = `${origin}/associations?s=${s}`
            nextLink.innerText = 'Next >'
            nextDiv.replaceChildren()
            nextDiv.appendChild(nextLink)
            nextLink.addEventListener('click', setAndUpdatePrevNextLinks)
          }
          const rel = e.target.getAttribute('rel') 
          s = (rel === 'prev') ? parseInt(s) - 1 : parseInt(s) + 1
          // console.info(`rel: ${rel}, s: ${s}`)
          const links = await getAssocs(s)
          console.log(links)
          if (links.length > 0) {
            updatePrevLink()
            console.info(`rel: ${rel}, s: ${s}`)
            // console.info(`current s: ${s}`)
            updateNextLink(links.length)
            ulResultsList.replaceChildren()
            links.forEach((a) => {
              const li = document.createElement('li')
              li.innerHTML = `<a href="${origin}/pier/${a.pier[0]}">${a.business}</a>`
              ulResultsList.appendChild(li)
            })
          }
          return false
        }
      const opts = {
        method: 'GET',
        headers: {
          Accept: 'application/json',
          Authorization: `Bearer ${jwtAccess}`,
        },
      }
      async function getAssocs(skip) {
        const request = new Request(`${origin}/businesses?s=${skip}`, opts)
        let json
        try {
          const response = await fetch(request, { credentials: 'same-origin' })
          json = await response.json()
        } catch (e) {
          console.error(e)
        }
        return json
      }
    </script>
  </section>
  <section class="map">
    <%# map embed %>
    <%- await include('./map-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>"
      src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
      crossorigin async
      data-callback="initMapKit"
      data-libraries="full-map"
      data-initial-token="">
    </script>
    <script nonce="<%= nonce %>" type="module">
      let page = 'businesses'

      const origin = '<%= origin %>'
      const jwtAccess = '<%= searchJwtAccess %>'     
      let map
      async function setupMapKitJs() {
        const tokenOpts = {
          method: 'GET',
          headers: {
            Accept: 'application/json',
            Authorization: `Bearer ${jwtAccess}`,
          },
        }
        const request = new Request(`${origin}/mapkit/getToken`, tokenOpts)
        const response = await fetch(request)
        const { tokenID } = await response.json()
        console.log('tokenID: ', tokenID)
        if (!window.mapkit || window.mapkit.loadedLibraries.length === 0) {
          // mapkit.core.js or the libraries are not loaded yet.
          // Set up the callback and wait for it to be called.
          await new Promise(resolve => { window.initMapKit = resolve })
          // Clean up
          delete window.initMapKit
        }
        mapkit.init({
          authorizationCallback: function(done) {
            done(tokenID)
          },
        })
      }

      async function main() {
        await setupMapKitJs()
        // init / center the map over Geneva Bay 
        const lat = 42.587751
        const lon = -88.440669
        const genevaBay = new mapkit.CoordinateRegion(
          new mapkit.Coordinate(lat, lon),
          new mapkit.CoordinateSpan(0.1, 0.1)
        );
        const opts = {
          mapType: mapkit.Map.MapTypes.Hybrid,
          loadPriority: mapkit.Map.LoadPriorities.PointsOfInterest,
          selectableMapFeatures: [mapkit.MapFeatureType.PhysicalFeature, mapkit.MapFeatureType.PointOfInterest],
          visibleMapRect: mapkit.MapRect(0, 0, 1, 1),
          isZoomEnabled: true,
          showsCompass: mapkit.FeatureVisibility.Visible,
          showsScale: mapkit.FeatureVisibility.Visible,
          showsZoomControl: true,
          cameraDistance: 3500,
          showsPointsOfInterest: true,
          isRotationEnabled: true,
          isScrollEnabled: true,
          showsPointsOfInterest: true,
          showsMapTypeControl: false,
        } 
         window.map = new mapkit.Map("map", opts);
         window.map.region = genevaBay;
      }
      await main()

      const annotations = []

      async function showBusinessPiers() {
        try {
          const response = await (await fetch(`${origin}/mapkit/businesses`)).json()
          console.log(response)
          response.documents.forEach((b) => {
            let [lon, lat] = b.value.coords.split(',')
            lon = parseFloat(lon, 10)
            lat = parseFloat(lat, 10)
            if (lat !== 0 && lon !== 0) {
              const annotationCallout = {
                calloutLeftAccessoryForAnnotation: () => {
                   const accessoryViewLeft = document.createElement("div")
                <% /* %>
                //   accessoryViewLeft.className = "left-accessory-view"
                //   const accessoryViewLeftIcon = document.createElement("span")
                //   accessoryViewLeftIcon.textContent = "\u{26C5}" // Sun & Clouds
                //   accessoryViewLeft.appendChild(accessoryViewLeftIcon)
                //   const accessoryViewLeftText = document.createElement("div")
                //   accessoryViewLeftText.textContent = "73 \u{00b0}F"
                //   accessoryViewLeft.appendChild(accessoryViewLeftText)
                <% */ %>
                   return accessoryViewLeft
                },
                calloutRightAccessoryForAnnotation: () => {
                  const accessoryViewRight = document.createElement("a")
                  accessoryViewRight.className = "right-accessory-view"
                  accessoryViewRight.href = `${origin}/pier/${b.value.pier}`
                  accessoryViewRight.target = "_self"
                  accessoryViewRight.textContent = "\u{24D8}" // (i) icon
                  return accessoryViewRight
                }
              }
              const coordinate = new mapkit.Coordinate(lat, lon);
              const annotation = new mapkit.MarkerAnnotation(coordinate, {
                title: `Pier ${b.value.pier}`,
                subtitle: b.value.business,
                animates: true,
                selected: true,
                color: "#4B93E0",
                callout: annotationCallout
              })
              annotations.push(annotation)
            }
          })
          window.map.showItems(annotations.reverse())
        } catch (e) {
          console.error(e)
        }
      }
      await showBusinessPiers()

      window.map.addEventListener("single-tap", async (e) => {
        e.preventDefault()
        e.stopPropagation()
        const {latitude, longitude} = window.map.convertPointOnPageToCoordinate(e.pointOnPage)
        // const coordinate = window.map.convertPointOnPageToCoordinate(e.pointOnPage)
        const defaultRadius = 50
        const defaultUnits = 'ft'
        console.log(`locate piers within ${defaultRadius} ${defaultUnits} of coords: ${longitude}, ${latitude}`)
        const results = await (await fetch(`${origin}/mapkit/locate/${longitude}/${latitude}/${defaultRadius}/${defaultUnits}`)).json()
        console.log(results)
        if (results?.total > 0) {
          results.documents.forEach((p) => {
            console.log(`${p.value.pier}, ${p.value.coords}, ${p.value.estateName}, ${p.value.business}, ${p.value.association}`)
              let subtitle = ' '
              if (p.value.business !== '' && p.value.association === '') subtitle = p.value.business
              if (p.value.association !== '' && p.value.business === '') subtitle = p.value.association
              if (p.value.firstname !== '' && p.value.lastname !== '') subtitle = `${p.value.firstname} ${p.value.lastname}`
              if (p.value.firstname !== '' && p.value.lastname === '') subtitle = p.value.firstname
              if (p.value.firstname === '' && p.value.lastname !== '') subtitle = p.value.lastname
              if (p.value.estateName !== '') subtitle = p.value.estateName
              console.info(`subtitle: ${subtitle}`)
              const annotationCallout = {
                calloutLeftAccessoryForAnnotation: () => {
                  const accessoryViewLeft = document.createElement("div")
                  return accessoryViewLeft
                },
                calloutRightAccessoryForAnnotation: () => {
                  const accessoryViewRight = document.createElement("a")
                  accessoryViewRight.className = "right-accessory-view"
                  accessoryViewRight.href = `${origin}/pier/${p.value.pier}`
                  accessoryViewRight.target = "_self"
                  accessoryViewRight.textContent = "\u{24D8}"
                  return accessoryViewRight
                }
              }
              const pierMarker = new window.mapkit.Coordinate(latitude, longitude)
              const pierAnnotation = new window.mapkit.MarkerAnnotation(pierMarker)
              pierAnnotation.title = `Pier ${p.value.pier}`
              pierAnnotation.subtitle = subtitle 
              pierAnnotation.animates = true
              pierAnnotation.selected = true
              pierAnnotation.color = "#4B93E0"
              pierAnnotation.callout = annotationCallout
              window.map.addAnnotation(pierAnnotation)
          })
        }
      })
    </script>
  </section>
</article>

