<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<article>
  <section class="main">
    <% if (!pier?.pier) { %>
      <h2><%= pierNumber %> is not a valid pier number on Geneva Lake</h2>
    <% } else { %>
      <h2>Pier <%= pier.pier %>, located in the <nobr><a href="/towns/<%= setTown %>"><%= town %></a></nobr></h2>
      <div class="previousPier">
        <% if (previousPier?.length !== 0) { %>
        <a href="<%= origin %>/edit/pier/<%= previousPier %>">< Pier <%= previousPier %></a>
        <% } else { %>
        Pier <%= pier.pier %> 
        <% } %>
      </div>
      <div class="nextPier">
        <% if (nextPier.length !== 0) { %>
        <a href="<%= origin %>/edit/pier/<%= nextPier %>">Pier <%= nextPier %> ></a>
        <% } else { %>
        Pier <%= pier.pier %> 
        <% } %>
      </div>
      <form id="pierEdit" name="pierEdit" action="/pier/edit" method="POST" enctype="multipart/form-data">
        Schema version: <%= pier.version %>
        <input id="csrf-token" type="hidden" value="<%= csrfToken %>">
        <fieldset id="pierPhoto" name="pierPhoto" form="pierEdit" class="edit_fieldset" title="Pier Photo Form">
          <legend>Pier Photo</legend>
                        
        </fieldset>
        <fieldset id="pierLocation" id="pierLocation" form="pierEdit" class="edit_fieldset" title="Pier Location Form">
          <legend>Pier Location</legend>
          <label for="lon">Longtitude</label>
          <input id="lon" name="lon" type="text" size="30" value="<%= lon %>" required><br>
          <label for="lat">Latitude</label>
          <input id="lat" name="lat" type="text" size="30" value="<%= lat %>" required><br>
          <label for="geo">Geohash</label>
          <input id="geo" name="geo" type="text" size="30" value="<%= pier.geohash %>"><br>
          <label for="plus">Pluscode</label>
          <input id="plus" name="plus" type="text" size="30" value="<%= pier.pluscode %>"><br>
        </fieldset>
        <fieldset id="pierAddress" id="pierAddress" form="pierEdit" class="edit_fieldset" title="Pier Address Form">
          <legend>Pier Address</legend>
          <input type="radio" id="addressType1" name="addressType" value="ass" required><label for="addressType1">Association</label>
          <input type="radio" id="addressType2" name="addressType" value="bus"><label for="addressType2">Business</label>
          <input type="radio" id="addressType3" name="addressType" value="res"><label for="addressType3">Residential</label>
          <label for="assoc">Association Name</label>
          <input id="assoc" name="assoc" type="text" size="29" value="<%= pier.property.association %>"><br>

          <label for="business">Business Name</label>
          <input id="business" name="business" type="text" size="30" value="<%= pier.property.business %>"></br>

          <label for="isMarina">Is a marina?</label>
          <input id="isMarina" name="isMarina" type="checkbox" value=1 ><br>

          <label for="hasFood">Has food?</label>
          <input id="hasFood" name="hasFood" type="checkbox" value=1 ><br>

          <label for="estab">Established In</label>
          <input id="estab" name="estab" type="text" size="30" value="<%= pier.property.established %>"><br>

          <label for="url">Website</label>
          <input id="url" name="url" type="url" size="30" placeholder="https://genevalakepiers.com" maxlength="100" value="<%= pier.property.associationUrl %>"><br>

          <label for="tel">Telephone</label>
          <input id="tel" name="tel" type="tel" size="30" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="15" value="<%= pier.property.tel %>"><br>

          <label for="street">Street</label>
          <input id="street" name="street" type="text" size="30" maxlength="100" value="<%= pier.property.address.street %>"><br>

          <label for="city">City</label>
          <input id="city" name="city" type="text" size="30" maxlength="50" value="<%= pier.property.address.city %>"><br>

          <label for="state">State</label>
          <input id="state" name="state" type="text" size="3" maxlength="2" value="<%= pier.property.address.state %>"><br>

          <label for="zip">Zip Code</label>
          <input id="zip" name="zip" type="text" size="10" maxlength="9" value="<%= pier.property.address.zip %>"><br>
        </fieldset>
        <fieldset id="pierOwners" id="pierOwners" form="pierEdit" class="edit_fieldset" title="Pier Address Form">
          <legend>Pier Owners</legend>
          <% if (pier.owners.length > 0) { %>
            <% pier.owners.forEach((o, i) => { %>
              <label for="estate">Estate Name</label>
              <input id="estate" name="estate" type="text" size="30" maxlength="100" value="<%= o.estateName %>"><br>
              <label for="gla">GLA Membership</label>
              <select id="gla" name="gla" type="text">
                <%
                  const memberTypes = ['Residential Non-member', 'Regular', 'Sustaining', 'Contributing', 'Donor', 'Benefactor']
                  memberTypes.forEach((t) => {
                    const re = new RegExp(`${t}`)
                    const selected = (re.test(o.membershipType)) ? 'selected' : '' %>
                  <option value="<%= t %>" <%= selected %>><%= t %></option>
                  <% }) %>
              </select>
                <br>
              <% if (o.members.length > 0) { %>
                  <div>
                <% o.members.forEach((m, j) => { %>
                    <div data-m=<%= i %> data-j=<%= j %>>
                      <input id="<%= `member_${i}_${j}_title` %>" name="<%= `member_${i}_${j}_title` %>" type="text" size="3" maxlength="10" value="<%= m.t %>" placeholder="Title"> 
                      <input id="<%= `member_${i}_${j}_first` %>" name="<%= `member_${i}_${j}_first` %>" type="text" size="11" maxlength="60" value="<%= m.f %>" placeholder="First"> 
                      <input id="<%= `member_${i}_${j}_middle` %>" name="<%= `member_${i}_${j}_middle` %>" type="text" size="3" maxlength="10" value="<%= m.m %>" placeholder="M"> 
                      <input id="<%= `member_${i}_${j}_last` %>" name="<%= `member_${i}_${j}_last` %>" type="text" size="11" maxlength="30" value="<%= m.l %>" placeholder="Last"> 
                      <input id="<%= `member_${i}_${j}_suf` %>" name="<%= `member_${i}_${j}_suf` %>" type="text" size="3" maxlength="10" value="<%= m.s %>" placeholder="suffix"> 
                      <input id="<%= `member_${i}_${j}_hidden` %>" name="<%= `member_${i}_${j}_hidden` %>" type="checkbox" <%= (m.hidden === 1) ? 'checked' : '' %>>hide
                    </div>
                <% }) %>
                    <span class="addPerson">+ person</span>
                  </div><br>
              <% } %>
            <% }) %>
        <% } else { %>
          No owners entered.  <span class="addOwner">+</span> an owner.
        <% } %>
        </fieldset>
      </form>
      <% if (photo) { %>
      <picture>
        <source media="(max-width:820px)" srcset="">
        <source media="(min-width:821px)" srcset="">
        <img alt="Photo of pier <%= pier %> in <%= town %>." src="">
      </picture>
      <% } %>
      <h3 id="location">Location:</h3>
      <ul class="location">
        <li>lat: <%= pier.loc.split(',')[1] %></li>
        <li>lon: <%= pier.loc.split(',')[0] %></li>
        <li>geohash: <%= pier.geohash %></li>
        <li>pluscode: <a href="https://www.google.com/maps/place/<%= encodeURIComponent(pier.pluscode) %>"><%= pier.pluscode %></a></li>
      </ul>
      <h3 id="address">Street Address:</h3>
      <ul class="location">
        <% if (pier.property?.association !== undefined && pier.property?.association?.length !== 0) {
          let assoc
          if (pier.property?.associationUrl !== undefined && pier.property?.associationUrl.length !== 0) {
            assoc = `<a href="${pier.property.associationUrl}">${pier.property.association}</a>`
          } else {
            assoc = pier.property.association
          } %>
          <li>Association: <%- assoc %></li>
        <% } %>
        <% if (pier?.property?.tel !== undefined && pier?.property?.tel.length !== 0) { %>
          <li>Telephone: <a href="tel:<%= pier.property.tel %>"><%= pier.property.tel %></a></li>
        <% } %>
        <% if (pier?.property?.established !== undefined && pier?.property?.established?.length !== 0) { %>
          <li>Established in <%= pier.property.established %></li>
        <% } %>
        <% if (pier.owners[0]?.estateName !== "") { %>
          <li><span class="estateName"><%= pier.owners[0]?.estateName %></span></li>
        <% } %>
        <% if (pier.property?.address?.street !== undefined) { %>
          <li><%= pier.property.address.street %></li>
        <% } %>
        <% if (pier.property?.address?.city !== undefined) { %>
          <li><%= pier.property.address.city %>, WI <%= pier.property.address?.zip %></li>
        <% } %>
      </ul>
      <h3 id="owners">Owners:</h3>
      <% if (pier?.owners.length < 1) { %>
        Pier owner information is missing.  
      <% } else { %>
        <ul class="owners">
        <% pier.owners.forEach((owner) => {
          let o = '' %>
          <li>
          <ul class="owners">
          <% if (owner?.members.length > 0) {
            owner.members.forEach((m) => {
              o += `<div>${m.t} ${m.f} ${m.m} ${m.l} ${m.s}</div>`
            })
          }
          if (owner.member === true) {
            o += `<div>GLA memberhip level: ${owner.membershipType}</div>`
          } %>
          <li><%- o %></li>
          </ul></li>
        <% }) %>
        </ul>
      <% } %>
    <% } %>
  </section> 
  <script nonce="<%= nonce %>">
    const form = document.forms['pierEdit']
    const radio = form['addressType']
    const assocInput = form['assoc']
    const busInput = form['business']
    const isMar = form['isMarina']
    const hasFood = form['hasFood']
    if (assocInput.value !== '') {
      form['addressType1'].disabled =  false
      form['addressType1'].checked = true
      form['isMarina'].checked = false
      form['isMarina'].disabled = true
      busInput.disabled = true
      form['isMarina'].checked = false
      form['isMarina'].disabled = true
      form['hasFood'].checked = false
      form['hasFood'].disabled = true
    } else if (busInput.value !== '') {
      form['addressType2'].disabled =  false
      form['addressType2'].checked = true
    } else {
      form['addressType3'].checked = true
      assocInput.disabled = true
      busInput.disabled = true
      form['isMarina'].checked = false
      form['isMarina'].disabled = true
      form['hasFood'].checked = false
      form['hasFood'].disabled = true
    }
    radio.forEach((r) => {
      r.addEventListener('change', radioSelection)
    })
    let assocTemp = []
    let busTemp = []
    function radioSelection(e) {
      e.preventDefault()
      e.stopPropagation()
      const val = e.target.value
      // console.log(val)
      console.info('Assoc: ', assocInput.value, assocTemp)
      console.info('Bus: ', busInput.value, busTemp)
      if (val === 'ass') {
        if (busInput !== '' && busInput !== undefined) {
          busTemp.push(busInput.value)
          busInput.value = ''
        }
        busInput.disabled = true
        assocInput.disabled = false
        assocInput.value = (assocTemp.length > 0) ? assocTemp.pop() : ''
        isMar.checked = false
        isMar.disabled = true
        hasFood.checked = false
        hasFood.disabled = true
      }
      if (val === 'bus') {
        if (assocInput.value !== '' && assocInput !== undefined) {
          assocTemp.push(assocInput.value)
          assocInput.value = ''
        }
        assocInput.disabled = true
        busInput.value = (busTemp.length > 0) ? busTemp.pop() : ''
        busInput.disabled = false
        isMar.disabled = false
        hasFood.disabled = false
      } 
      if (val === 'res') {
        if (assocInput.value !== '' && assocInput !== undefined) {
          assocTemp.push(assocInput.value)
          assocInput.value = ''
        }
        assocInput.disabled = true
        if (busInput !== '' && busInput !== undefined) {
          busTemp.push(busInput.value)
          busInput.value = ''
        }
        busInput.disabled = true
        isMar.checked = false
        isMar.disabled = true
        hasFood.checked = false
        hasFood.disabled = true
      }}

      const addPersonSpans = document.querySelectorAll('span.addPerson')
      addPersonSpans.forEach((p) => {
        p.addEventListener('click', (e) => {
          e.preventDefault()
          e.stopPropagation()
          dataSet = e.target.previousSibling.previousSibling
          console.log(dataSet)
        })
      })
  </script>
  <section class="map">
    <%# map embed %>
    <%- await include('./map-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>">
      const map = document.querySelector('div#map')
      console.log(map)
    </script>
  </section>
</article>

