<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<article>
  <section class="main">
    <h2><%= total %> Restaurants</h2>

    <% /* %>
    <div class="previousPier">
      <% if (skipBack > 1) { %>
      <a href="/associations?s=<%= skipBack %>">&lt; Prev</a>
      <% } else if (skipBack === 1) { %>
      <a href="/associations">&lt; Prev</a>
      <% } else { %>
      < Prev 
      <% } %>
    </div>
    <div class="nextPier">
      <% if ((offset + num) < total) { %>
      <a href="/associations?s=<%= skipForward %>">Next &gt;</a>
      <% } else { %>
      Next > 
      <% } %>
    </div>
    <% */ %>
    <ul id="resultsList" class="searchResults">
      <% foods.forEach((p, i) => {
        let a = `<li><a href="/pier/${p.pier[0]}">${p.business}</a></li>`  %>
      <%- a %>
    <% }) %></ul>

  </section>
  <section class="map">
    <%# map embed %>
    <%- await include('./map-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>">
      const map = document.querySelector('div#map')
      // console.log(map)
    </script>
  </section>
</article>

