<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<% if (isAuthenticated) { %>
<article class="admin-stuff">
  <% /* %>
  <p><a href="/account/view">Your account page</a></p>
  <% */ %>
  <% if (sessionUser) { %>
    <div>Hi, <%= sessionUser.displayName %></div>
    <% if (items.length > 0) { %>
      <div>There <%= (items.length > 1) ? 'are' : 'is' %> <%= items.length %> item<%= (items.length > 1) ? 's' : '' %> that need<%= (items.length === 1) ? 's' : '' %> attention.</div> 
      <ul class="admin-items">
        <% items.forEach((item) => { %>
          <li><a href="<%= origin %>/nullisland"><%= item.list.length %> <%= item.title %></a></li>
        <% }) %>
      </ul>
    <% } %>
  <% } %>
</article>
<% } %>
<article>
  <section class="main">
    <%# search section %>
    <%- await include('./search.ejs') -%>
    <%# search section %>
  </section>
  <section class="map">
    <%# map embed %>
    <%- await include('./mapkit-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>" type="module">
      let page = 'index'
      async function getMapkit() {
        return await new Promise(resolve => {
          const interval = setInterval(() => {
            if (window.mapkit !== undefined && window.mapkit.loadedLibraries.includes('full-map')) {
              resolve(true);
              console.log(`${page}: window.mapkit: ${window.mapkit}`)
              clearInterval(interval)
            }
          }, 100)
        })
      }
      const isMapkitReady = await getMapkit()
      if (isMapkitReady) {
        console.log(window.mapkit.loadedLibraries) 
        async function showAllPiers() {
          const allPiers = await fetch(`${origin}/mapkit/allPiers`)
          const piers = await allPiers.json()
          if (piers.total > 0) {
              const annotations = []
              piers.documents.forEach((pier) => {
                  let [lon, lat] = pier.value['$.loc'].split(',')
                  lon = parseFloat(lon, 10)
                  lat = parseFloat(lat, 10)
                  // console.log(lat, lon)
                  if (lat !== 0 && lon !== 0) {
                      const pierMarker = new window.mapkit.Coordinate(lat, lon)
                      const pierAnnotation = new window.mapkit.MarkerAnnotation(pierMarker)
                      pierAnnotation.title = `Pier ${pier.value.pierNumber}`
                      annotations.push(pierAnnotation)
                  }
              })
              if (annotations.length > 0) {
                  // console.dir(annotations, { depth: null })
                  window.map.showItems(annotations)
              }
          }
        }
        await showAllPiers()
      }
    </script>
  </section>
</article>

