<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<article>
  <section class="main">
    <% if (!pier?.pier) { %>
      <h2><%= pierNumber %> is not a valid pier number on Geneva Lake</h2>
    <% } else { %>
      <h2>Pier <%= pier.pier %>, Located in the <nobr><a href="/towns/<%= setTown %>"><%= town %></a></nobr></h2>
      <div class="previousPier">
        <% if (previousPier.length !== 0) { %>
        <a href="/pier/<%= previousPier %>"><< Pier <%= previousPier %></a>
        <% } else { %>
        Pier <%= pier.pier %> 
        <% } %>
      </div>
      <div class="nextPier">
        <% if (nextPier.length !== 0) { %>
        <a href="/pier/<%= nextPier %>">Pier <%= nextPier %> >></a>
        <% } else { %>
        Pier <%= pier.pier %> 
        <% } %>
      </div>
      <% if (photo) { %>
      <picture>
        <source media="(max-width:820px)" srcset="">
        <source media="(min-width:821px)" srcset="">
        <img alt="Photo of pier <%= pier %> in <%= town %>." src="">
      </picture>
      <% } %>
      <h3 id="location">Location:</h3>
      <ul class="location">
        <li>lat: <%= pier.loc.split(',')[1] %></li>
        <li>lon: <%= pier.loc.split(',')[0] %></li>
        <li>geohash: <%= pier.geohash %></li>
        <li>pluscode: <a href="https://www.google.com/maps/place/<%= encodeURIComponent(pier.pluscode) %>"><%= pier.pluscode %></a></li>
      </ul>
      <h3 id="address">Street Address:</h3>
      <ul class="location">
        <% if (pier.property?.association !== undefined && pier.property?.association?.length !== 0) {
          let assoc
          if (pier.property?.associationUrl !== undefined && pier.property?.associationUrl.length !== 0) {
            assoc = `<a href="${pier.property.associationUrl}">${pier.property.association}</a>`
          } else {
            assoc = pier.property.association
          } %>
          <li>Association: <%- assoc %></li>
        <% } %>
        <% if (pier?.property?.tel !== undefined && pier?.property?.tel.length !== 0) { %>
          <li>Telephone: <a href="tel:<%= pier.property.tel %>"><%= pier.property.tel %></a></li>
        <% } %>
        <% if (pier?.property?.established !== undefined && pier?.property?.established?.length !== 0) { %>
          <li>Established in <%= pier.property.established %></li>
        <% } %>
        <% if (pier.owners[0]?.estateName !== "") { %>
          <li><span class="estateName"><%= pier.owners[0]?.estateName %></span></li>
        <% } %>
        <% if (pier.property?.address?.street !== undefined) { %>
          <li><%= pier.property.address.street %></li>
        <% } %>
        <% if (pier.property?.address?.city !== undefined) { %>
          <li><%= pier.property.address.city %>, WI <%= pier.property.address?.zip %></li>
        <% } %>
      </ul>
      <h3 id="owners">Owners:</h3>
      <% if (pier?.owners.length < 1) { %>
        Pier owner information is missing.  
      <% } else { %>
        <ul class="owners">
        <% pier.owners.forEach((owner) => {
          let o = '' %>
          <li>
          <ul class="owners">
          <% if (owner?.members.length > 0) {
            owner.members.forEach((m) => {
              o += `<div>${m.t} ${m.f} ${m.m} ${m.l} ${m.s}</div>`
            })
          }
          if (owner.member === true) {
            o += `<div>GLA memberhip level: ${owner.membershipType}</div>`
          } %>
          <li><%- o %></li>
          </ul></li>
        <% }) %>
        </ul>
      <% } %>
    <% } %>
  </section>
  <section class="map">
    <%# map embed %>
    <%- await include('./map-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>">
      const map = document.querySelector('div#map')
      console.log(map)
    </script>
  </section>
</article>

