<% if (flash?.info) { %>
  <div id="info" class="info">
    <span><%= flash.info %></span>
  </div>
<% } %>
<% if (flash?.message) { %>
  <div id="messages" class="messages">
    <span><%= flash.message %></span>
  </div>
<% } %>
<% if (flash?.error) { %>
  <div id="errors" class="errors">
    <span><%= flash.error %></span>
  </div>
<% } %>
<article>
  <section>
    <% if (!pier?.pier) { %>
      <h2><%= pierNumber %> is not a valid pier number on Geneva Lake</h2>
    <% } else { %>
      <h2>Pier <%= pier.pier %>, located in the
        <h2><a href="/towns/<%= setTown %>"><%= town %></a></h2>
      <% if (photo) { %>
      <picture>
        <source media="(max-width:820px)" srcset="">
        <source media="(min-width:821px)" srcset="">
        <img alt="Photo of pier <%= pier %> in <%= town %>." src="">
      </picture>
      <% } %>
      <h3 id="location">Location:</h3>
      <ul class="location">
        <li>lat: <%= pier.loc.split(',')[1] %></li>
        <li>lon: <%= pier.loc.split(',')[0] %></li>
        <li>geohash: <%= pier.geohash %></li>
        <li>pluscode: <a href="https://www.google.com/maps/place/<%= encodeURIComponent(pier.pluscode) %>"><%= pier.pluscode %></a></li>
      </ul>
      <h3 id="address">Street Address:</h3>
      <ul class="location">
        <% if (pier.property?.association !== undefined) {
          let assoc
          if (pier.property?.associationUrl !== undefined ) {
            assoc = `<a href="${pier.property.associationUrl}">${pier.property.association}</a>`
          } else {
            assoc = pier.property.association
          } %>
          <li><%- assoc %></li>
        <% } %>
        <% if (pier.property?.established !== undefined) { %>
          <li>Established in <%= pier.property.established %></li>
        <% } %>
        <% if (pier.property?.estateName !== undefined) { %>
          <li><span class="emphasis"><%= pier.property.estateName %></span></li>
        <% } %>
        <% if (pier.property?.address?.street !== undefined) { %>
          <li><%= pier.property.address.street %></li>
        <% } %>
        <% if (pier.property?.address?.city !== undefined) { %>
          <li><%= pier.property.address.city %></li>
        <% } %>
          <li>WI, <%= pier.property.address?.zip %></li>
      </ul>
      <h3 id="owners">Owners:</h3>
      <% if (pier?.owners.length < 1) { %>
        Pier owner information is missing.  
      <% } else { %>
        <% pier.owners.forEach((owner) => {
          let o = ''
          if (owner?.members.length > 0) {
            owner.members.forEach((m) => {
              o += `<p>${m.t} ${m.f} ${m.m} ${m.l} ${m.s}</p>`
            })
          }
          if (owner.member === true) {
            o += `<p>GLA memberhip level: ${owner.membershipType}</p>`
          } %>
          <%- o %>
        <% }) %>
      <% } %>
    <% } %>
  </section>
  <section>
    <%# map embed %>
    <%- await include('./map-embed.ejs') -%>
    <%# map embed %>
    <script nonce="<%= nonce %>">
      const map = document.querySelector('div#map')
      console.log(map)
    </script>
  </section>
</article>

